{% if forums %}
<table class="forums">
    <tbody>
{% for forum in forums %}
{% if forum.type == 'category' %}
        <tr class="row category nesting_{{ forum.nesting }}">
            <th class="title" colspan="2">
                {{- forum.url | raw }}
{% if forum.description %}
                <small>{{ forum.description }}</small>
{% endif %}
            </th>
            <th class="label">{{ l.Topics }}</th>
            <th class="label">{{ l.Posts }}</th>
            <th class="label">{{ l.Last_Post }}</th>
        </tr>
{% else %}
        <tr class="row forum nesting_{{ forum.nesting }}">
            <td class="icon">
                <input type="checkbox" />
            </td>
            <td class="title">
                {{ forum.url | raw }}
{% if forum.description %}
                <small>{{ forum.description }}</small>
{% endif %}
            </td>
            <td class="topics">{{ forum.topicsCount() }}</td>
            <td class="posts">{{ forum.postsCount() }}</td>
            <td class="latestpost">
{% if not forum.latestPost() %}
                --
{% else %}
                {{ forum.latestPost().url | raw }}<br />
                {{ forum.latestPost().author.url | raw }}
{% endif %}
            </td>
        </tr>
{% endif %}
{% endfor %}
    </tbody>
</table>
<script>
    $('td.icon > input').on('change', (el) => {
        var tr = $($(el.target).parents('tr')[0]);
        if (tr) { if (el.target.checked) tr.addClass('checked'); else tr.removeClass('checked')}
    });
</script>
{% endif %}