<div class="posts">
{% for post in posts %}
    <div class="post" id="post_{{ post.post_id }}">
        <div class="avatar">
            <div class="posts">{{ post.author.postsCount }}</div>
            {{ post.author.avatar | raw }}
            <small>
                {{ post.author.signature }}
            </small>
        </div>
        <div class="body">
            <small>
                {{ post.author.url | raw }}
                {{ l.added }}
                {{ post.url | raw }}
            </small>
            <div class="text">{{ post.text | nl2br }}</div>
        </div>
        <br />
    </div>
{% endfor %}
</div>