<div class="posts">
{% for post in posts %}
    <div class="post {{ post.types | join(' ') }}" id="post_{{ post.post_id }}">
        <div class="avatar">
            <div class="posts">{{ post.author.postsCount }}</div>
            {{ post.author.avatar | raw }}
            <small>
                {{ post.author.signature }}
            </small>
        </div>
        <div class="body">
            <small>
                {{ post.author.url | raw }}
                {{ l.added }}
                {{ post.url | raw }}
            </small>
            <div class="text" author="{{ post.author.name }}">{{ post.text | nl2br }}</div>
        </div>
        <div class="votes" id="votes_{{ post.post_id }}">
            <script>votes.show({selector: '#votes_{{ post.post_id }}', post: '{{ post.post_id }}'})</script>
        </div>
        <br />
    </div>
{% endfor %}
</div>
