<table class="topics">
    <tbody>
        <tr class="row forum">
            <th></th>
            <th></th>
            <th class="label">{{ l.Votes }}</th>
            <th class="label">{{ l.Replies }}</th>
            <th class="label">{{ l.Author }}</th>
            <th class="label">{{ l.Views }}</th>
            <th class="label">{{ l.Last_Post }}</th>
        </tr>
{% for topic in topics %}
        <tr class="row topic {{ topic.type }} replied announcement poll">
            <td class="icon">
                <input type="checkbox" />
            </td>
            <td class="title">
                {{ topic.url | raw }}
{% if topic.description %}
                <small>{{ topic.description }}</small>
{% endif %}
            </td>
            <td class="votes">{{ topic.votesCount }}</td>
            <td class="posts">{{ topic.repliesCount }}</td>
            <td class="author">{{ topic.author.url | raw }}</td>
            <td class="views">{{ topic.viewsCount }}</td>
            <td class="latestpost">
                {{ topic.latestPost.url | raw }}<br />
                {{ topic.latestPost.author.url | raw }}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
<script>
    $('td.icon > input').on('change', (el) => {
        var tr = $($(el.target).parents('tr')[0]);
        if (tr) { if (el.target.checked) tr.addClass('checked'); else tr.removeClass('checked')}
    });
</script>