body { 
	background-color: #E5E5E5;
	margin: 0;
}

/* General font families for common tags */
* {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif; 
	font-size : 13px;
}
a:link,a:active,a:visited	{ color : #006699; }
a:hover			{ text-decoration: underline; color : #DD6900; }
hr				{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px; }

/* This is the border line & background colour round the entire page */
.bodyline { background-color: #FFFFFF; border: 0; padding: 10px 20px; box-shadow: 0 -3px 50px #ccc }

/* This is the outline round the main forum tables */
.forumline {
	background-color: #A9B8C2;
	border: solid #006699 0px;
	border-top-width: 5px;
	border-spacing: 0px;
}

/* Main table cell colours and backgrounds */
td.row1 {
	background-color: #EFEFEF;
	padding: 10px;
	border-bottom: 1px solid #c8d0d7;
	border-top: 1px solid #fff;
}
td.row2 {
	background-color: #DEE3E7;
	padding: 10px;
	border-bottom: 1px solid #c8d0d7;
	border-top: 1px solid #fff;
}
td.row3 { 
	background-color: #dfe3e8;
	padding: 10px;
	border-bottom: 3px solid #fff;
}
td.row_helped { background-color: #F0EDDE; }


/* Header cells - the blue and silver gradient backgrounds */
th {
	color:			#FFA34F;
	font-weight: bold;
	background-color: #0f82b3;
	padding: 10px;
}

td.catHead,
td.catSides,
td.catLeft,
td.catRight,
td.catBottom {
	background-color: #dfe3e8;
	padding: 10px;
}

/*
	Setting additional nice inner borders for the main table cells.
	The names indicate which sides the border will be on.
	Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,
td.catHead,
td.catBottom,
td.rowpic {
	background-color: #c8d0d7;
	padding: 10px;
}
th.thHead,th.thSides,th.thLeft,th.thRight,th.thBottom {
font-weight: bold; border: #FFFFFF; height: 28px;
}

th.thCornerL,
th.thTop,
th.thCornerR {
	color: #FFA34F;
	font-weight: bold;
	background-color: #0f82b3;
	padding: 10px;
}

td.row3Right,td.spaceRow { background-color: #D1D7DC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead			{ border-width: 0px; }
th.thSides,td.catSides,td.spaceRow	{ border-width: 0px; }
th.thRight,td.catRight,td.row3Right	{ border-width: 0px; }
th.thLeft,td.catLeft			{ border-width: 0px; }
th.thBottom,td.catBottom		{ border-width: 0px; }
th.thTop				{ border-width: 0px; }
th.thCornerL				{ border-width: 0px; }
th.thCornerR				{ border-width: 0px; }


/* General text */
.gen						{ font-size : 15px; }
.genmed					{ font-size : 13px; }
.gensmall					{ font-size : 12px; }
.gen,.genmed,.gensmall			{ color : #000000; }
a.gen,a.genmed,a.gensmall			{ color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }
div.heading.bar {
	z-index: 999;
}
div.heading.bar.floating {
	position: fixed;
	top: 0;
	background: #0f82b3;
	color: #fff;
}
div.heading.bar.floating a {
	color: #fff;
	text-shadow: 0 1px 0 #000;
}
div.heading.bar.floating > a {
	display: block;
}
div.heading.bar.floating div.left {
	clear: none
}
div.heading.bar > a {
	float: left;
	display: none;
}
div.heading.bar > a img {
	height: 50px;
	padding: 5px 0 0 10px;
}
div.heading {
	margin: 0 0;
	width: 100%;
}
div.heading div {
	padding: 20px;
}
div.heading img {
	height: 100px;
}
div.heading div.right {
	float: right;
	clear: right;
	text-align: right;
}
div.heading div.left {
	float: left;
	clear: left;
}
div.heading br {
	clear: both;
}
div.heading .mainmenu {
	font-size : 13px;
	color : #000000;
}
div.heading .mainmenu a {
	text-decoration: none;
	color : #006699;
	text-shadow: 0 -1px 0 #fff;
}
div.heading .right a {
	margin-left: 10px;
}
div.heading .mainmenu a:hover {
	text-decoration: none;
	color: #DD6900;
}
div.heading .nav {
	font-weight: normal;
	font-size: 13px;
}

div.heading .maintitle h1 {
	font-weight: bold;
	text-decoration: none; line-height : 120%;
	font-size: 32px;
	color: #fff;
	text-shadow: 0 1px 0 #999;
	margin: 20px 0 0;
}
div.heading .maintitle {
	color: #999;
	text-shadow: 0 -1px 0 #fff;
}

a[name] {
	visibility: hidden;
	position: relative;
	top: -150px;
}

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 15px ; letter-spacing: 1px; color : #006699;}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover	{ text-decoration: underline; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 15px; color : #006699; }
a.forumlink		{ text-decoration: none; color : #006699; }
a.forumlink:hover	{ text-decoration: underline; color : #DD6900; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav		{ font-weight: bold; font-size: 15px; color : #000000;}
a.nav	{ text-decoration: none; color : #006699; }
a.nav:hover	{ text-decoration: underline; }

.catHead a.nav	{ text-decoration: none; color : #fff; }

/* titles for the topics: could specify viewed link colour too */
.topictitle,h1,h2	{ font-weight: bold; font-size: 15px; color : #000000; }
a.topictitle:link	{ text-decoration: none; color : #006699; }
a.topictitle:visited	{ text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name { font-size : 11px; color : #000000; text-decoration: none;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 13px; color : #000000; }

/* The content of the posts (body of text) */
.postbody		{ font-size : 13px; line-height: 18px; }
a.postlink:link	{ text-decoration: none; color : #006699; }
a.postlink:visited	{ text-decoration: none; color : #5493B4; }
a.postlink:hover	{ text-decoration: underline; color : #DD6900; }

/* Quote & Code blocks */
.code {
	font-family:		Courier, 'Courier New', sans-serif; font-size: 13px; color: #006600;
	background-color:	#FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width:	1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
}

.quote {
	font-size: 13px; color: #444444; line-height: 125%;
	background-color:	#FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width:	1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
}

/* Copyright and bottom info */
.copyright,
.links {
	font-size : 12px;
	color: #888;
}
.copyright b {
	color : #000000;
}
.copyright a,
.links a {
	text-decoration: none; 
	color: #888;
	font-size : 12px;
}

.links a {margin-left: 5px;}
.copyright a:hover,
.links a:hover {
	color : #dd6900;
}

/* Form elements */

form { margin: 0; }
form { display: inline; }

input,textarea, select {
color : #000000;
font: normal 13px "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
}

/* The text input fields background colour */
input.post, textarea.post, select			{ background-color : #EFEFEF; }
input.post2, textarea.post2, select	{ background-color : #DEE3E7; }
input						{ text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
background-color :	#EFEFEF;
color :			#000000;
font-size:		11px;
font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
cursor:			pointer;
}

/* The main submit button option */
input.mainoption {
background-color:	#FAFAFA;
font-weight:		bold;
cursor:			pointer;
}

/* None-bold submit button */
input.liteoption {
background-color:	#FAFAFA;
font-weight:		normal;
cursor:			pointer;
}

/* This is the line in the posting page which shows the rollover
	help line. This is actually a text box, but if set to be the same
	colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

/* Highlight bad words for moderators instead of censoring them */
span.badwordhighlight { background-color: #FFFF00; }

.topbkg { background: #dbe3ee url(images/cellpic_bkg.jpg) repeat-x }
.topnav { font-size:10px;background: #e5ebf3 url(images/cellpic_nav.gif) repeat-x;color:#dd6900;
height: 21px; white-space: nowrap; text-align: center; border: 0px solid #91a0ae; border-width: 1px 0 1px 0; }

.pm { font-size: 11px; text-decoration: none; color: #FF0000; } 

.table0
{
	padding: 4px;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #fefefe;
	color : #000000;
	font-size : 10px;
}

.sb1 { background-color: #EFEFEF; }
.sb2 { background-color: #DEE3E7; }

.pagination {
	color: #666;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
    padding-bottom: 4px;
	cursor: pointer;
	text-decoration: none;
}
.pagination a, .pagination a:visited, .pagination a:active {
	background-color: #EAEBEB;
	color: #000;
	border-color: #D4D7DA;
	border: #D4D7DA 1px solid;
	padding: 1px;
	text-decoration: none;
}
.pagination a:hover {
	background-color: #FFF;
	color: #666;
	border-color: #EAECEF;
	border: #EAECEF 1px solid;
	text-decoration: none;
	padding: 1px;
}

.vote {
	margin-left: 10px;
	position: relative;
	top: 2px;
}

.vote .count {
	line-height: 16px;
	font-size: 14px;
	position: relative;
	top: -2px;
}
.vote a {
	line-height: 16px;
	font-size: 25px;
}

.vote a.upvote:hover,
.vote a.downvote:hover {
	color: #333;
}

.vote a.upvote {
	color: green;
	text-decoration: none;
}

.vote a.downvote {
	color: red;
	text-decoration: none;
}