body { 
	background-color: #0f82b3;
	margin: 0;
	font-size : 13px;
}

* {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif; 
}

a:link,
a:active,
a:visited {
	color : #006699;
}
a:hover {
	text-decoration: underline;
	color: #DD6900;
}
hr {
	height: 0px;
	border: solid #D1D7DC 0px;
	border-top-width: 1px;
}

.bodyline h1 {
	color: #006699;
	font-size: 25px;
	font-weight: normal;
	letter-spacing: -1px;
}

/* This is the border line & background colour round the entire page */
.bodyline {
	background-color: #fff;
	border: 0;
	padding: 10px 20px;
	box-shadow: 0 -3px 50px #084162;
}

/* This is the outline round the main forum tables */
.forumline {
	background-color: #A9B8C2;
	border-spacing: 0px;
	width: 100%;
}

table.block {
	border-spacing: 0px;
	width: 100%;
}

/* Main table cell colours and backgrounds */
td.row1 {
	background-color: #EFEFEF;
	padding: 10px;
	border-bottom: 1px solid #c8d0d7;
	border-top: 1px solid #fff;
}
td.row2 {
	background-color: #DEE3E7;
	padding: 10px;
	border-bottom: 1px solid #c8d0d7;
	border-top: 1px solid #fff;
}
td.row3 { 
	background-color: #dfe3e8;
	padding: 10px;
	border-bottom: 3px solid #fff;
}
td.row_helped {
	background-color: #F0EDDE;
}

td.row1 .signature .postbody,
td.row2 .signature .postbody{
	opacity: .5;
	font-size: 13px;
}

/* Header cells - the blue and silver gradient backgrounds */

td.catHead,
td.catSides,
td.catLeft,
td.catRight,
td.catBottom {
	background-color: #dfe3e8;
	padding: 10px;
}

/*
	Setting additional nice inner borders for the main table cells.
	The names indicate which sides the border will be on.
	Don't worry if you don't understand this, just ignore it :-)
*/
th,
td.cat,
td.catHead,
td.catBottom,
td.rowpic {
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #c8d0d7;
}
td.submit {
	border-top: 1px solid #fff;
	background-color: #e1e4e4;
	background: linear-gradient(#f5f5f5, #fff, #fff);
	padding: 10px;
	text-align: center;
}
td.submit.left {
	text-align: left;
}
td.submit.right {
	text-align: right;
}
th.thHead,
th.thSides,
th.thLeft,
th.thRight,
th.thBottom {
	font-weight: bold;
	border: #fff;
	padding: 10px;
}
th .description,
td.cat .description {
	color: #555;
	opacity: .75;
	margin-top : 10px;
	display: block;
}

th.label,
td.cat.label {
	font-size: 13px;
	white-space: nowrap;
}
th.label.center {
	text-align: center;
}
th.label.right {
	text-align: right;
}
th.label a {
	font-size: 13px;
	text-decoration: none;
	margin-left: 5px;
}
th.label a:hover {
	text-decoration: underline;
}

th.thCornerL,
th.thTop,
th.thCornerR {
	color: #FFA34F;
	font-weight: bold;
	background-color: #0f82b3;
	padding: 10px;
}

td.row3Right,
td.spaceRow {
	background-color: #D1D7DC;
	font-size: 1px;
}

th.thHead,td.catHead			{ border-width: 0px; }
th.thSides,td.catSides,td.spaceRow	{ border-width: 0px; }
th.thRight,td.catRight,td.row3Right	{ border-width: 0px; }
th.thLeft,td.catLeft			{ border-width: 0px; }
th.thBottom,td.catBottom		{ border-width: 0px; }
th.thTop				{ border-width: 0px; }
th.thCornerL				{ border-width: 0px; }
th.thCornerR				{ border-width: 0px; }


/* General text */
.gen						{ font-size : 15px; }
.genmed					{ font-size : 13px; }
.gensmall					{ font-size : 12px; }
.gen,.genmed,.gensmall			{ color : #000000; }
a.gen,a.genmed,a.gensmall			{ color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }
div.heading.bar {
	z-index: 999;
}
div.heading.bar div {
	padding: 20px;
}
div.heading.simple {
	height: 40px;
}
div.heading.bar.floating {
	position: fixed;
	top: 0;
	background: #0f82b3;
	background: linear-gradient(#0f82b3, #036994);
	color: #fff;
	border-bottom: 5px solid #fff;
}
div.heading.bar.floating > a {
	display: block;
}
div.heading.bar.floating div.left {
	clear: none
}
div.heading.bar > a {
	float: left;
	display: none;
}
div.heading.bar > a img {
	height: 50px;
	padding: 5px 0 0 10px;
}
div.heading {
	margin: 0 0;
	width: 100%;
	clear: both;
}
div.heading div {
	padding: 20px 20px 0;
}
div.heading img {
	height: 75px;
}
div.heading div.right {
	float: right;
	clear: right;
	text-align: right;
}
div.heading div.left {
	float: left;
	clear: left;
}
div.heading br {
	clear: both;
}
div.heading .mainmenu {
	font-size : 13px;
	color : #000000;
}
div.heading .mainmenu a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 1px 0 #084162;
}
div.heading .right a {
	margin-left: 10px;
}
div.heading .mainmenu a:hover {
	text-decoration: none;
	color: #DD6900;
}
div.heading .nav {
	font-weight: normal;
	font-size: 13px;
}

div.heading .maintitle h1 {
	font-weight: bold;
	text-decoration: none; line-height : 120%;
	font-size: 32px;
	color: #fff;
	text-shadow: 0 1px 0 #084162;
	margin: 20px 0 0;
}
div.heading .maintitle {
	color: #084162;
	text-shadow: 0 -1px 0 #049bd2;
	max-width: 500px;
}

a[name] {
	visibility: hidden;
	position: relative;
	top: -150px;
}

/* Forum category titles */
.cattitle {
	letter-spacing: -1px;
	color: #73787e;
}
.cattitle,
a.cattitle {
	text-decoration: none;
	color: #006699;
}
a.cattitle:hover	{ text-decoration: underline; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 15px; color : #006699; }
a.forumlink		{ text-decoration: none; color : #006699; }
a.forumlink:hover	{ text-decoration: underline; color : #DD6900; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav		{ font-weight: bold; font-size: 15px; color : #000000;}
a.nav	{ text-decoration: none; color : #006699; }
a.nav:hover	{ text-decoration: underline; }

.catHead a.nav	{
	text-decoration: none;
	color: #fff;
}

/* titles for the topics: could specify viewed link colour too */
.topictitle,h1,h2	{ font-weight: bold; font-size: 15px; color : #000000; }
a.topictitle:link	{ text-decoration: none; color : #006699; }
a.topictitle:visited	{ text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name { font-size : 11px; color : #000000; text-decoration: none;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 13px; color : #000000; }

/* The content of the posts (body of text) */
.postbody		{ font-size : 13px; line-height: 18px; }
a.postlink:link	{ text-decoration: none; color : #006699; }
a.postlink:visited	{ text-decoration: none; color : #5493B4; }
a.postlink:hover	{ text-decoration: underline; color : #DD6900; }

/* Quote & Code blocks */
.code {
	font-family:		Courier, 'Courier New', sans-serif; font-size: 13px; color: #006600;
	background-color:	#FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width:	1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
}

.quote {
	font-size: 13px;
	color: #444444;
	line-height: 125%;
	background-color: #fafafa;
	border: 1px solid #D1D7DC;
}

/* Copyright and bottom info */
.copyright,
.links {
	font-size : 12px;
	color: #888;
}
.copyright b {
	color : #000000;
}
.copyright a,
.links a {
	text-decoration: none; 
	color: #888;
	font-size : 12px;
}

.links a {
	margin-left: 5px;
}
.copyright a:hover,
.links a:hover {
	color : #dd6900;
}

/* Form elements */

form { margin: 0; }
form { display: inline; }

input,
textarea,
select {
	color : #000000;
	font-size: 13px;
}

/* The text input fields background colour */
input.post, textarea.post, select			{ background-color : #EFEFEF; }
input.post2, textarea.post2, select	{ background-color : #DEE3E7; }
input {
	text-indent : 2px;
}

/* The buttons used for bbCode styling in message post */
input.button {
	background-color: #EFEFEF;
	color: #000000;
	font-size: 13px;
	cursor: pointer;
}

/* The main submit button option */
input.mainoption {
	background-color: #FAFAFA;
	font-weight: bold;
	cursor: pointer;
}

/* None-bold submit button */
input.liteoption {
background-color:	#FAFAFA;
font-weight:		normal;
cursor:			pointer;
}

/* This is the line in the posting page which shows the rollover
	help line. This is actually a text box, but if set to be the same
	colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

/* Highlight bad words for moderators instead of censoring them */
span.badwordhighlight { background-color: #FFFF00; }

.topbkg { background: #dbe3ee url(images/cellpic_bkg.jpg) repeat-x }
.topnav { font-size:10px;background: #e5ebf3 url(images/cellpic_nav.gif) repeat-x;color:#dd6900;
height: 21px; white-space: nowrap; text-align: center; border: 0px solid #91a0ae; border-width: 1px 0 1px 0; }

.pm { font-size: 11px; text-decoration: none; color: #FF0000; } 

.table0
{
	padding: 4px;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #fefefe;
	color : #000000;
	font-size : 10px;
}

.sb1 { background-color: #EFEFEF; }
.sb2 { background-color: #DEE3E7; }

.pagination {
	color: #666;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
    padding-bottom: 4px;
	cursor: pointer;
	text-decoration: none;
}
.pagination a, .pagination a:visited, .pagination a:active {
	background-color: #EAEBEB;
	color: #000;
	border-color: #D4D7DA;
	border: #D4D7DA 1px solid;
	padding: 1px;
	text-decoration: none;
}
.pagination a:hover {
	background-color: #FFF;
	color: #666;
	border-color: #EAECEF;
	border: #EAECEF 1px solid;
	text-decoration: none;
	padding: 1px;
}
form[name=quicklogin] input[type=text],
form[name=quicklogin] input[type=password],
form[name=quicklogin] input[type=submit],
form[name=quicksearch] input[type=submit],
form[name=quicksearch] input[type=text],
form[name=quickchange] select,
form[name=jumpbox] select,
form[name=jumpbox] input {
	border: 1px solid #ddd;
	padding: 5px;
	background: #fff;
	color: #333;
	box-shadow: 0 1px 1px #ccc;
}

form[name=quicksearch] input[type=submit],
form[name=jumpbox] input {
	padding: 5px 10px;
}

/*-- shoutbox --*/

#shouts.shoutbox div.messages {
	border-bottom: 1px solid #04739e;
}
#shouts.shoutbox div.smileys a,
#shouts.shoutbox div.messages p {
	color: #fff;
}
#shouts.shoutbox div.messages p:hover {
	background-color: #04739e;
}
#shouts.shoutbox div.messages p a {
	color: #084162;
}
#shouts.shoutbox input {
    box-shadow: 0 1px 1px #084162;
}
#shouts.shoutbox .messages p span.time {
	color: #6fb2d3;
}
#shouts.shoutbox h2 {
	text-shadow: 0 1px 0 #084162;
}
.row1 img,
.row2 img {
	max-height: 250px;
}

td.row1.left {
	text-align: left;
}
td.row1.right {
	text-align: right;
}

td.submit select,
td.submit textarea,
td.submit input[type=text],
td.submit input[type=password],
td.submit input[type=submit],
td.submit input[type=button],
td.submit input[type=reset] {
	background: #fff;
	box-shadow: 0 1px 1px #ccc;
	padding: 5px;
	border: 1px solid #d1d1d1;
}
.posting td select,
.posting td input[type=text],
.posting td input[type=password],
.posting td textarea {
	background: #fff;
	box-shadow: 0 1px 1px #ccc;
	padding: 10px 20px;
	border: 1px solid #d1d1d1;
}
.posting td input[type=text],
.posting td input[type=password],
.posting td textarea {
	width: 95%;
}
.nolength.posting td input[type=text],
.nolength.posting td input[type=password],
.nolength.posting td textarea {
	width: auto;
}
.posting td textarea {
	resize: vertical;
}
.posting input[type=submit],
.posting input[type=button],
.posting input[type=reset] {
	background: #fff;
	box-shadow: 0 1px 1px #ccc;
	padding: 5px;
	border: 1px solid #d1d1d1;
}
.posting .catBottom input[type=submit] {
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px #666;
	margin-right: 5px;
}
.posting #cke_message {
    box-shadow: 0 1px 1px #ccc;
}

.hidden tr.row,
.hidden th span.description,
.hidden th.label {
	display: none;
}
.hidden th {
	border-bottom: 0;
}
.hidden th a.cattitle {
	color: #aaa;
}

.visible a.toggleCategory {
	background: url(images/asc_order.png) no-repeat center center;
	padding: 0 5px;
	text-decoration: none;
}
.hidden a.toggleCategory {
	background: url(images/desc_order.png) no-repeat center center;
	padding: 0 5px;
	text-decoration: none;
}