<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="assets/default/css/main.css" type="text/css" />
		<link rel="stylesheet" href="assets/default/css/install.css" type="text/css" />
		<title>{{ l10n.Welcome_install }}</title>
	</head>
	<body>
		<div class="header">
			<p>{{ messages.header }}</p>
		</div>

{% if block('errors') is defined %}
{% set block_errors = block('errors') %}
{% if block_errors is not empty %}
		<div class="errors">
   			{{ block_errors|raw }}
   		</div>
{% endif %}
{% endif %}
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<div class="footer">phpbb by przemo v2.0.132
		</div>
	</body>
</html>