{% extends "install/layout.html" %}

{% block errors %}
{% if errors|length > 0 %}
<ul>
{% for error in errors %}
	<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

<p>{{ messages.content|raw }}</p>

<form action="{{ form.action }}" method="{{ form.method }}" name="{{ form.name }}">

{% for name, value in form.hidden_fields %}
		{% include 'forms/hidden.html' with {'name': name, 'value': value} %}
{% endfor %}

<div class="section">
	<div class="head">{{ l10n.Initial_config }}</div>
	<div class="row">
		 {% include 'forms/select.html' with {'label': l10n.Default_lang, 'field': form.lang} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.Server_name, 'field': form.server_name} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.Server_port, 'field': form.server_port} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.Script_path, 'field': form.script_path} %}
	</div>
</div>
<div class="section">
	<div class="head">{{ messages.DB_config }}</div>
	<div class="row">
		 {% include 'forms/select.html' with {'label': l10n.dbms, 'field': form.dbms} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.DB_Host, 'field': form.dbhost} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.DB_Name, 'field': form.dbname} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.DB_Username, 'field': form.dbuser} %}
	</div>
	<div class="row">
		 {% include 'forms/password.html' with {'label': l10n.DB_Password, 'field': form.dbpasswd} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.Table_Prefix, 'field': form.prefix} %}
	</div>
</div>
<div class="section">
	<div class="head">{{ l10n.Admin_config }} <span>{{ l10n.Admin_config_e }}</span></div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.Admin_email, 'field': form.board_email} %}
	</div>
	<div class="row">
		 {% include 'forms/text.html' with {'label': l10n.Admin_Username, 'field': form.admin_name} %}
	</div>
	<div class="row">
		 {% include 'forms/password.html' with {'label': l10n.Admin_Password, 'field': form.admin_pass1} %}
	</div>
	<div class="row">
		 {% include 'forms/password.html' with {'label': l10n.Admin_Password_confirm, 'field': form.admin_pass2} %}
	</div>
	<div class="submit">
		 {% include 'forms/submit.html' with {'value': l10n.Start_Install} %}
	</div>
</div>
</form>
{% endblock %}