{% extends 'layouts/basic.html' %}
{% block content %}
<style>@import url(themes/test/auth.css);</style>
<div class="body auth">
    <h1>{{ l.Login }}</h1>
    <div class="container">
        <div class="providers">
        </div>
        <form name="auth" action="auth.php" method="post" class="recaptcha">
        </form>
    </div>
    <div class="options">
        <a href="">{{ l.Register }}</a>
        <a href="">{{ l.Forgotten_password }}</a>
    </div>
    <br />
</div>
<script src="/modules/Auth/Classic/index.js"></script>
<script src="/modules/Auth/Facebook/index.js"></script>
<script src="/modules/Auth/Google/index.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<form></form>
<script>
{% if error %}
auth.errors.push('{{ error }}')
{% endif %}
auth.options.fbappid = '{{ c.get("facebook_appid") }}'
auth.options.gclient = '{{ c.get("google_client_id") }}'
auth.options.phrases = {
    username: '{{ l.Username }}',
    signin: '{{ l.Login }}',
    signin_facebook: '{{ l.Sign_in_facebook }}',
    signin_google: '{{ l.Sign_in_google }}',
    rememberme: '{{ l.Rememberme }}',
}
$(function(){
    forum.auth()
})
</script>
{% endblock %}