{% extends 'layouts/basic.html' %}
{% block content %}
<div class="body topic">
    <script src="/modules/BBCode/index.js"></script>
    <script src="/js/lightbox/lightbox.js"></script>
    <script src="/modules/votes/index.js"></script>
    <style>@import url('/js/lightbox/lightbox.css');</style>
    <style>@import url('modules/votes/style.css');</style>

    {{ components.POSTS | raw }}
    {{ components.QUICKREPLY | raw }}

    <script type="text/javascript">
        votes.load({topic: '{{ topic.topic_id }}'})
        forum.selection('.post .body .text')
        $('div.post > div.body > div.text').each((i, el) => {
            $(el).html(bbcode.parse($(el).html()))
        })
    </script>
</div>
{% endblock %}