
<style>
@import url('/modules/BBCode/style.css');
@import url('/modules/shouts/style.css');
</style>
<div class="shouts" id="shouts" style="width:800px; margin: auto">
	<h2>Shouts</h2>
	<div class="messages" style="height:250px; overflow:auto;"></div>
	<input type="text" name="message" placeholder="{{ l.Message }}" />
	<input type="button" name="submit" value="{{ l.Submit }}" />
	<input type="hidden" name="token" value="" />
</div>
<script src="/modules/BBCode/index.js"></script>
<script src="/modules/shouts/index.js"></script>
<script type="text/javascript">
	shouts.init({
		langs: {
			submit: '{{ l.Submit }}',
			cancel: '{{ l.Cancel }}',
			delete: '{{ l.Delete }}',
			confirm: '{{ l.Confirm_delete }}'
		},
		onmessage: (message) => {
			message.text = bbcode.parse(message.text)
			//message.text = markdown.parse(message.text)
			return message
		}
	})
</script>