* {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;	
}

body {
	background: #e5e5e5;
	padding: 10px;
	margin: 0;
}

body > div {
	background-color: #fff;
	margin: 0;
	padding: 10px;
}

body > div.header {
	text-align: left;
	background-color: #e5e5e5;	
	background-image: url(../images/przemo.png);
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: auto 100px;
	padding: 50px 50px 50px 265px;
}

body > div.header > p {
	font-size: 1.4em;
}

body > div.footer {
	text-align: center;
	background-color: #e5e5e5;
	color: #666;
	font-size: 0.9em;
}

body > div.errors {
	background-color: #fba;
	color: #521;
}

body > div.content form > div.section {
	border-top: 5px solid #fff;
}

body > div.content form > div.section > div.row {
	border-bottom: 1px solid #eee;
	padding: 10px;
}

body > div.content form > div.section > div.head {
	background: #f5f5f5;
	padding: 10px;
	font-size: 1.1em;
}

body > div.content form > div.section > div.head > span {
	color: #666;
	font-size: 0.8em;
	margin-top: 5px;
	display: block;
}

body > div.content form > div.section > div.row > span.label {
	float: left;
	width: 250px;
	color: #555;
}

body > div.content form > div.section > div.row > span.error {
	font-size: 0.8em;
	color: #921;
	padding: 10px 0 0 250px;
	display: block;
}

body > div.content form > div.section > div.row textarea {
	height: 300px;
	width: 600px;
	resize: vertical;
	font-family: Courier New;
	border: 0;
	color: #555;
	background: #f5f5f5;
	padding: 10px;
}

body > div.content form > div.section > div.submit {
	padding: 10px;
	text-align: center;
}

body > div.content form div.submit input {
	cursor: pointer;
}

body > div.content form > div.row:hover > span {
	color: #000;
}

body > div.content form input.error,
body > div.content form select.error {
	border: 1px solid #f53;
	background: #fed;
}