<!DOCTYPE html>
<html>
    <head>
{% block head %}
        <title>{{ title }}</title>
        <style>@import url('/themes/test/style.css');</style>
        <style>@import url('/themes/test/shouts.css');</style>
        <script src="/js/jquery.js"></script>
        <script src="/js/forum.js"></script>
        <script>recaptcha_key = '{{ c.get("recaptcha_key") }}'</script>
        <script src="https://www.google.com/recaptcha/api.js?render={{ c.get("recaptcha_key") }}"></script>
{% endblock %}
    </head>
    <body>
        <div class="head {{ head_classes | join(' ') }}" style="{{ head_style }}">
            {% include('components/navigation.html') %}
        </div>
        {% block content %}
            <div class="body">No content</div>
        {% endblock %}
        {{ components.SHOUTS | raw }}
        <div class="foot">
            {% include('components/footer.html') %}
        </div>
    </body>
</html>