div.shouts h2 {
    font-size: 1.5em;
    color: #fff;
    text-shadow: 0 1px 0 #aaa;
    text-align: center;
}
div.shouts .messages {
    overflow-x: hidden;
    overflow-y: visible;
    border-bottom: 1px solid #ccc;
}
div.shouts .messages p {
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 0;
}

div.shouts > a {
    text-decoration: none;
    margin: 0 5px 0 8px;
    font-size: 1.5em;
}

div.shouts .messages p:hover {
    background-color: #ddd;
    cursor: pointer;
}

div.shouts .messages p.error {
    background-color: #fb8;
    padding: 10px;
}

div.shouts .messages p span.author {
    margin-right: 5px;
}

div.shouts .messages p span.author .online {
    color: #0a0;
    font-weight: bold;
    font-size: 2em;
    line-height: 12px;
    margin-right: 3px;
}

div.shouts .messages p span.author .offline {
    color: #ccc;
    font-weight: bold;
    font-size: 2em;
    line-height: 12px;
    margin-right: 3px;
}

div.shouts .messages p span.author a {
    text-decoration: none;
}

div.shouts .messages p span.time {
    float: right;
    color: #aaa;
    clear: right;
    visibility: hidden;
}

div.shouts .messages p:hover span.time {
    visibility: visible;
}

div.shouts .messages p span.text input[type=text] {
    width: 50%;
}
div.shouts input {
    font-size: 0.8em;
    padding: 5px;
    margin: 10px 0;
    background-color: #fff;
    border: 0;
    box-shadow: 0 1px 1px #aaa;
}
div.shouts input[name=message] {
    width: 80%;
    margin-left: 5%;
}
div.shouts input[type=button] {
    cursor: pointer;
}
div.shouts div.smileys {
    margin: 5px 5px 20px;
}

div.shouts div.smileys br {
    clear: both;
}

div.shouts div.smileys a {
    text-decoration: none;
    margin: 5px;
    float: left;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 1.5em;
}