<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>@import url('/themes/test/style.css');</style>
        <script src="/js/jquery.js"></script>
        <script src="/js/forum.js"></script>
    </head>
    <body>
        <div class="head">
{% include('navigation.html') %}
        </div>
        {% block content %}
            <div class="body">No content</div>
        {% endblock %}
        <div class="foot">
            {% include('footer.html') %}
        </div>
    </body>
</html>