div.signin div.container {
    margin: auto;
    width: 550px;
    display: flex;
}
div.signin div.providers {
    width: 70px;
}
div.signin form {
    padding: 20px;
    border-left: 1px solid #ccc;
    background: #f5f5f5;
    background: linear-gradient(90deg, #f5f5f5, #fff, #fff, #fff);
    width: 350px;
}

div.signin p.error {
    color: red;
    text-shadow: 0 0 1px #f005;
    font-size: 0.8em;
    padding: 10px;
    margin: 0;
}

div.signin > div.options {
    margin: auto;
    width: 400px;
    display: block;
    padding: 20px 0;
    font-size: 0.8em;
}
div.signin > div.options a {
    margin-right: 5px;
}
div.signin form label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    font-size: 0.9em;
}
div.signin form.classic {
    padding: 40px 20px 20px;
}
div.signin form.facebook,
div.signin form.google {
    padding: 70px 20px 20px;
}
div.signin form.classic input[type=text] {
    display: block;
    clear: left;
    width: 200px;
    margin: 5px 0;
}
div.signin form.classic input[type=password] {
    width: 200px;
    margin: 5px 10px 5px 0;
}
div.signin div.providers img {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 20px 20px 0;
    cursor: pointer;
    border-radius: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}
div.signin div.providers img.current {
    -webkit-filter: none;
    filter: none;
    opacity: .9;
}
div.signin div.providers img:hover {
    opacity: 1;
}
div.signin br {
    clear: both;
}