@import url('forums.css');
@import url('posts.css');
@import url('head.css');

body { 
    background-color: #0f82b3;
	font-size : 15px;
	margin: 0;
}

* {
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
}

a {
    color: #006699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}

body > div.body > h1 {
    color: #006699;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
}

body > div.body {
    background: #fff;
    padding: 20px;
    box-shadow: 0 -25px 25px #045780;
}
div.foot {
    background: #fff;
    padding: 20px;
    box-shadow: 0 25px 25px #045780;
}

input[type=submit],
input[type=button],
input[type=radio],
input[type=checkbox] {
    cursor: pointer;
}

div.foot p {
    margin: 0;
    font-size: 0.75em;
}
div.foot p span.visible,
div.foot p:hover span.hidden {
    display: inline;
}
div.foot p span.hidden,
div.foot p:hover span.visible {
    display: none;
}