@import url('forums.css');
@import url('posts.css');
@import url('head.css');

body { 
    background: #0f82b3;
    background: linear-gradient(275deg, #0f82b3, #70828a, #aaa);
	font-size : 15px;
	margin: 0;
}

* {
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
}

a {
    color: #006699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}

div.sideinfo > h1,
body > div.body > h1 {
    color: #006699;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
}

body > div.body > small {
    font-size: 1em;
    color: #888;
}

body > div.body.topic > h1,
body > div.body.topic > small {
    margin-left: 135px;
}

body > div.body {
    background: #fff;
    padding: 20px;
    box-shadow: 0 -32px 76px #04578088;
}
div.foot {
    background: #fff;
    padding: 20px;
    box-shadow: 0 30px 30px #04578088;
}

input[type=submit],
input[type=button],
input[type=radio],
input[type=checkbox] {
    cursor: pointer;
}

div.foot :first-child {
    border: 0;
    padding: 0 5px 0 0;
}

div.foot p {
    border-left: 1px solid #aaa;
    margin: 0;
    padding: 0 11px 0 10px;
    font-size: 0.75em;
    display: inline;
}
div.foot p span.visible,
div.foot p:hover span.hidden {
    display: inline;
}
div.foot p span.hidden,
div.foot p:hover span.visible {
    display: none;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=button],
select {
	color: #333;
	padding: 5px;
    background: #fff;
    background: linear-gradient(#efefef, #fff);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 0.9em;
    filter: none;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0 0 4px #ddaa33;
}

input[type=submit].primary,
input[type=button].primary {
    border-color: #333;
    background: linear-gradient(#666, #333, #333);
    color: #eee;
}

form.primary input {
    padding: 10px;
}

div.submit {
    text-align: center;
    padding: 10px 0 0;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: red;
}

div.grecaptcha-badge {
    visibility: hidden;
}
div.container {
    display: flex;
    flex-direction: row;
}
div.container > br {
    clear: both;
}
div.container > div.sideinfo {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 0.9em;
    margin-right: 20px;
    padding-top: 10px;
}

div.container > form {
    padding-left: 20px;
    border-left: 1px solid #ccc;
    float: left;
}
p.error {
    color: red;
    text-shadow: 0 0 1px #f005;
    font-size: 0.8em;
    padding: 10px;
    margin: 0;
}