<!DOCTYPE html>
<html>
    <head>
        {{- add(css('style'), css('shouts'), js('jquery'), js('forum')) -}}
        {{- addjs('https://www.google.com/recaptcha/api.js?render=' ~ c.get("recaptcha_key")) -}}
{% block head %}
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ PATH }}/favicon.ico">
{% for css in getcss() %}
        <link rel="stylesheet" href="{{ css }}" />
{% endfor %}
        <script>
            recaptcha_key = '{{ c.get("recaptcha_key") }}'
            basepath = '{{ PATH }}';
        </script>
{% for js in getjs() %}
        <script src="{{ js }}"></script>
{% endfor %}
{% endblock %}
    </head>
    <body>
        <div class="head {{ head_classes | join(' ') }}" style="{{ head_style }}">
            {% include('main/components/top.html') %}
            {% include('main/components/navigation.html') %}
        </div>
        {% block content %}
            <div class="body">No content</div>
        {% endblock %}
        {{ components.SHOUTS | raw }}
        <div class="foot">
            {% include('main/components/footer.html') %}
        </div>
    </body>
</html>