{% extends 'main/layouts/basic.html' %}
{% block head %}
{{ add(css('signup')) }}
{{ addjs('https://apis.google.com/js/api.js') }}
{{ add(module_js('Auth/Facebook'), module_js('Auth/Google')) }}
{{ parent() }}
        <script>
            auth.options.fbappid = '{{ c.get("facebook_appid") }}'
            auth.options.gclient = '{{ c.get("google_client_id") }}'
            auth.options.phrases = {
                facebook_connected: '{{ l.Facebook_connected }}',
                google_connected: '{{ l.Google_connected }}',
                sign_up_facebook: '{{ l.Sign_up_facebook }}',
                sign_up_google: '{{ l.Sign_up_google }}',
            }
            $(function(){
                forum.signup('form[name=signup]')
            })
        </script>
{% endblock %}
{% block content %}
<div class="body signup">
    <div class="container">
        <div class="sideinfo">
            <h1>{{ l.Join_discussion }}</h1>
            <p>{{ l.Why_join | nl2br }}</p>
        </div>
        <form name="signup" action="{{ URI }}" method="post" class="recaptcha primary">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <input type="text" style="display: none" />
            <input type="password" style="display: none" />
            <input type="text" name="username[0]" value="" placeholder="{{ l.Username }}" />
            <input type="password" name="password[0]" value="" placeholder="{{ l.Password }}" />
            <input type="password" name="password[1]" value="" placeholder="{{ l.Confirm_password }}" />
            <div class="submit">
                <input type="submit" name="signup" class="primary" value="{{ l.Sign_up }}" />
                <input type="button" name="signin" value="{{ l.Or_sign_in }}" onclick="forum.redirect('{{ U_SIGNIN.url }}')" />
            </div>
        </form>
        <br />
    </div>
</div>
{% endblock %}