{% extends 'main/layouts/basic.html' %}
{% block content %}
<style>@import url({{ PATH }}/themes/test/signin.css);</style>
<div class="body signin">
    <h1>{{ l.Login }}</h1>
    <div class="container">
        <div class="providers">
        </div>
        <form name="auth" action="{{ URI }}" method="post" class="recaptcha primary">
        </form>
    </div>
    <div class="options">
        <a href="">{{ l.Register }}</a>
        <a href="">{{ l.Forgotten_password }}</a>
    </div>
    <br />
</div>
<script src="https://apis.google.com/js/api.js"></script>
<script src="{{ PATH }}/modules/Auth/Classic/index.js"></script>
<script src="{{ PATH }}/modules/Auth/Facebook/index.js"></script>
<script src="{{ PATH }}/modules/Auth/Google/index.js"></script>
<script>
{% if error %}
auth.errors.push('{{ error }}')
{% endif %}
auth.options.fbappid = '{{ c.get("facebook_appid") }}'
auth.options.gclient = '{{ c.get("google_client_id") }}'
auth.options.phrases = {
    username: '{{ l.Username }}',
    password: '{{ l.Password }}',
    sign_in: '{{ l.Sign_in }}',
    sign_in_facebook: '{{ l.Sign_in_facebook }}',
    sign_in_google: '{{ l.Sign_in_google }}',
    rememberme: '{{ l.Rememberme }}',
}
$(function(){
    forum.auth('div.signin div.container')
})
</script>
{% endblock %}