

div.posts > small {
    display: block;
    padding: 10px;
    color: #888;
}

div.post {
    display: flex;
    clear: both;
    background-color: #efefef;
    border-bottom: 1px solid #c8d0d7;
    border-top: 1px solid #fff;
}

div.post.first {
    background: #efefef;
    background: linear-gradient(#fff, #efefef);
}

div.post.edit {
    background: #d0edff;
    background: linear-gradient(#efefef, #d0edff);
}

div.post.edit div.cke {
    border: 5px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

div.post > br {
    clear: both;
}

div.post > a.anchor {
    position: relative;
    top: -100px;
}

div.post > div.avatar {
    float: left;
    padding: 10px;
    width: 100px;
}

div.post > div.avatar img {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 100px;
    display: block;
    margin: 0 auto 10px;
}

div.post > div.avatar small {
    color: #888;
    max-width: 100px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

div.post > div.avatar div.posts {
    background: #fff;
    padding: 10px;
    border-radius: 0 100px 100px;
    position: absolute;
    margin: 75px 0 0 65px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
}

div.post > div.body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.post > div.body > h1 {
    color: #006699;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding: 0 5px;
}

div.post > div.body > h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: #888;
    margin: 0;
    padding: 0 5px 10px;
}

div.post > div.body > small {
    display: block;
    display: flex;
    clear: right;
    padding: 0 0 10px 0;
}

div.post > div.body > small a {
    padding: 0 5px;
}

div.post > div.body > div.text {
    display: block;
    clear: right;
    padding: 0 0 0 5px;
}

div.text iframe {
    border: 3px solid #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    width: 640px;
    height: 480px;

}

div.text a.youtube img {
    width: 640px;
    height: 480px;
    max-height: none;
    max-width: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}

div.text a.youtube img:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

div.text img {
    max-height: 150px;
    max-width: 300px;
    border: 3px solid #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

div.post div.votes {
    float: right;
    display: block;
    width: 100px;
    padding: 10px;
}