div.user > img.avatar {
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
}
div.user > div {
    clear: both;
}

div.user > p {
    margin: 0;
}

div.user > small {
    padding: 0 0 10px;
    display: block;
}

div.user h1 small {
    font-size: 0.8em;
    color: #666;
}